In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df1=pd.read_csv("subject-info.csv")
df2=pd.read_csv("test_measure.csv")

In [5]:
sub2=df1.copy()
test2=df2.copy()

In [9]:
print(sub2)

      Age  Weight  Height  Humidity  Temperature  Sex   ID ID_test
0    10.8    48.8   163.0      39.0         20.7    1  543   543_1
1    11.8    41.0   150.0      41.0         22.3    1   11    11_1
2    12.2    46.0   160.0      37.0         21.5    0  829   829_1
3    13.2    71.0   190.0      49.0         23.8    1  284   284_1
4    13.7    53.8   169.7      40.0         25.3    0  341   341_1
..    ...     ...     ...       ...          ...  ...  ...     ...
987  59.1    64.7   172.0      38.0         24.4    0  856   856_2
988  59.7    65.2   172.0      51.0         16.8    0  856   856_3
989  61.3   102.0   185.0      56.0         20.5    0  390   390_1
990  61.6    74.0   169.0      46.0         23.9    0  596   596_1
991  63.0    83.5   171.5      48.0         22.2    0  296   296_1

[992 rows x 8 columns]

In [11]:
print(test2)

        time  Speed     HR     VO2    VCO2    RR    VE ID_test   ID
0          0    5.0   63.0   478.0   360.0  27.0  13.3     2_1    2
1          2    5.0   75.0   401.0   295.0  23.0  10.3     2_1    2
2          4    5.0   82.0   449.0   319.0  29.0  12.2     2_1    2
3          7    5.0   87.0   461.0   340.0  28.0  12.8     2_1    2
4          9    5.0   92.0   574.0   417.0  28.0  14.6     2_1    2
...      ...    ...    ...     ...     ...   ...   ...     ...  ...
575082   926    5.0  148.0  1350.0  1699.0  35.0  65.7   857_1  857
575083   927    5.0  147.0  1275.0  1605.0  32.0  60.1   857_1  857
575084   929    5.0  147.0  1259.0  1566.0  29.0  57.0   857_1  857
575085   931    5.0  147.0  1278.0  1587.0  31.0  58.5   857_1  857
575086   933    5.0  147.0  1299.0  1600.0  31.0  58.7   857_1  857

[575087 rows x 9 columns]

In [25]:
#18.Who is the tallest participant in the dataset?
# What is  his/her Vo2 kg/ml?
tallest_participant = sub2.loc[sub2['Height'].idxmax()]
print(tallest_participant)
tallest_Age =tallest_participant['Age']
tallest_Weight= tallest_participant['Weight']
tallest_Height =tallest_participant['Height']
tallest_ID_test = tallest_participant['ID_test']

Age             16.9
Weight          81.0
Height         203.0
Humidity        52.0
Temperature     22.5
Sex                1
ID                94
ID_test         94_1
Name: 109, dtype: object

In [19]:
merged_data =pd.merge(sub2,test2,on ='ID_test',how='left')
print(merged_data)

         Age  Weight  Height  Humidity  Temperature  Sex  ID_x ID_test  time  \
0       10.8    48.8   163.0      39.0         20.7    1   543   543_1     0
1       10.8    48.8   163.0      39.0         20.7    1   543   543_1     3
2       10.8    48.8   163.0      39.0         20.7    1   543   543_1    10
3       10.8    48.8   163.0      39.0         20.7    1   543   543_1    13
4       10.8    48.8   163.0      39.0         20.7    1   543   543_1    17
...      ...     ...     ...       ...          ...  ...   ...     ...   ...
575082  63.0    83.5   171.5      48.0         22.2    0   296   296_1   747
575083  63.0    83.5   171.5      48.0         22.2    0   296   296_1   749
575084  63.0    83.5   171.5      48.0         22.2    0   296   296_1   752
575085  63.0    83.5   171.5      48.0         22.2    0   296   296_1   754
575086  63.0    83.5   171.5      48.0         22.2    0   296   296_1   757

        Speed     HR     VO2    VCO2    RR    VE  ID_y
0         0.0    NaN   585.0   566.0  13.0  21.5   543
1         0.0    NaN   223.0   215.0  19.0   9.4   543
2         0.0   58.0   309.0   302.0   9.0  10.5   543
3         0.0    NaN   280.0   272.0  12.0  10.2   543
4         0.0   96.0   294.0   283.0  13.0  10.6   543
...       ...    ...     ...     ...   ...   ...   ...
575082    5.0  109.0  1346.0  1569.0  24.0  55.3   296
575083    5.0  109.0  1346.0  1561.0  24.0  54.7   296
575084    5.0  109.0  1381.0  1578.0  24.0  54.5   296
575085    5.0  110.0  1356.0  1533.0  24.0  52.9   296
575086    5.0  109.0  1364.0  1538.0  24.0  53.1   296

[575087 rows x 16 columns]

In [35]:
#Find the VO2 value for the tallest participant
tallest_VO2 =merged_data.loc[merged_data['ID_test']==tallest_ID_test,'VO2'].values[0]
print(f"Tallest participants Height in cm:{tallest_Height} cm")
print(f"Tallest participant's VO2 ml/min: {tallest_VO2}")
  	
tallest_VO2_ml_kg_min = tallest_VO2/tallest_Weight
print(f"Tallest participant's VO2 ml/kg/min: {tallest_VO2_ml_kg_min}")

Tallest participants Height in cm:203.0 cm
Tallest participant's VO2 ml/min: 700.0
Tallest participant's VO2 ml/kg/min: 8.641975308641975